@font-face {
    font-family: gotham;
    src: url(./font/PinkChicken-Regular.ttf);
}
:root {
    --color-dark: #222831;
    --color-frame: #3d3d46;
    --color-text: #a39d9d;
    --color1: #35374B;
    --color2: #344955;
    --color3: #50727B;
    --color4: #78A083;
    --color5: #99B396;
    --color6: #B5C6A6;
    --color7: #D2D9C7;
    --color8: #EFF1E0;
    --color9: #F9F9E7;
    --color10: #FFFFFF;
}
* {
    /* border-style: solid;
    border-width: 0.1vw; */
    box-sizing: border-box;
    font-family: 'gotham';
}
body {
    background-color: var(--color-dark);
}
header {
    display: flex;
    border-radius: 1vw;
    background-color: var(--color-frame);
    justify-content: space-between;
}
header>h1 {
    color: var(--color-text);
    margin-left: 2vw;
}
header>nav {
    margin-right: 2vw;
    align-content: center;
}
nav>a {
    color: var(--color-text);
    text-decoration: none;
}
article>h2,p {
    text-align: justify;
    color: var(--color-text);
    margin: 0vw 1vw 0vw 1vw;
}
.div-article {
    display: flex;
    float: left;
    margin-top: 1vw;
    margin-bottom: 1vw;
    height: fit-content;
}
.article1 {
    background-color: var(--color-frame);
    border-radius: 1vw;
    padding: 1vw 1vw 1vw 1vw;
    margin: 0vw 0.5vw 0vw 0vw;
    width: 50%;
}
.article2 {
    background-color: var(--color-frame);
    border-radius: 1vw;
    padding: 1vw 1vw 1vw 1vw;
    margin: 0vw 0vw 0vw 0.5vw;
    width: 50%;
}
div.contact-button {
    margin: 0vw;
    display: flex;
    flex-direction: column;
    background-color: var(--color-frame);
    border-radius: 1vw;
    width: 100%;
}
.contact-button>button {
    margin: 1vw 2vw 0vw 2vw;
    border-radius: 0.8vw;
    height: 5vw;
    border: none;
    color: var(--color-dark);
    background-color: var(--color-text);
}
.contact-button>button:hover{
    background-color: var(--color3);
}
.contact-button>.botom-button{
    margin-bottom: 5vw;
}
div.contact-button>h2 {
    color: var(--color-text);
    margin-left: 2vw;
}
.end-section {
    margin-top: 2vw;
    color: var(--color-text);
}
.aboutus {
    margin-left: 1vw;
}
@media only screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        border-radius: 2vw;
    }
    header>h1 {
        margin: 0 0 0 2vw;
    }
    header>nav {
        margin: 0 0 1vw 2vw;
    }
    nav>a {
        padding: 0 0.5vw 0 0.5vw;
    }
    .div-article {
        display: flex;
        flex-direction: column;
        height: fit-content;
    }
    .article1 {
        width: 100%;
        margin: 0vw 0vw 1vw 0vw;
        border-radius: 2vw;
    }
    .article2 {
        width: 100%;
        margin: 0vw 0vw 0vw 0vw;
        border-radius: 2vw;
    }
    div.contact-button {
        border-radius: 2vw;
    }
    .contact-button>button {
        margin: 1vw 2vw 0vw 2vw;
        border-radius: 2vw;
        height: 13vw;
        border: none;
        color: var(--color-dark);
        background-color: var(--color-text);
    }
    
}