@font-face {
    font-family: gotham;
    src: url(./font/PinkChicken-Regular.ttf);
}
/*color pallate*/
:root {
    --color-dark: #222831;
    --color-frame: #3d3d46;
    --color1: #35374B;
    --color2: #344955;
    --color3: #50727B;
    --color4: #78A083;
    --color5: #99B396;
    --color6: #B5C6A6;
    --color7: #D2D9C7;
    --color8: #EFF1E0;
    --color9: #F9F9E7;
    --color10: #FFFFFF;
}

* {
    background-color: var(--color-dark);
    box-sizing: border-box;
    font-family:'gotham';
}
.header-logo {
    background-color: transparent;
    display: flex;
    width: 60%;
}
.header-side {
    font-size: 2vw;
    margin-left: 1vw;
    width: 60%;
    color: #c4c4c4;
    background-color: transparent;
    border-left: 0.5vw solid #c4c4c4;
    padding-left: 1vw;
    text-shadow: 0.1vw 0.1vw #50727B;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
    background-color: #3d3d46;
    border-radius: 1vw;
    width:100%;
    height: 8vw;
    position: sticky;
    top: 0;
}
/* start of hamburger button */
.ham-button {
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
  }
  
  .bar1, .bar2, .bar3 {
    width: 2.5vw;
    height: 0.5vw;
    background-color: #e0e0e0;
    margin-bottom: 0.5vw;
    margin-top: 0;
    transition: 1s;
    border-radius: 0.3vw;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 1vw) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {opacity: 0;}
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -1vw) rotate(45deg);
  }
/* end of hamburger button */
.nav-bar1 {
    background-color: transparent;
    display: flex;
}
.nav-bar1>div>a {
    color: #a39d9d;
    text-decoration: none;
    font-size: 1.5vw 100%;
    padding: 0.5vw;
    background-color: transparent;
    animation-name: nav-animation;
    animation-duration: 4s;
    animation-iteration-count: 1;
}
@keyframes nav-animation {
    0% {color: transparent;}
    100% {color: #a39d9d ;}

}
.nav-bar1>a:hover {
    background-color: #222831;
    border-radius: 1vw;
}

header>.logo-sgs {
    width: 10vw;
    max-height: auto;
    margin-top: auto;
    margin-bottom: auto;
    background-color: transparent;
    margin-left: 1vw;
}
#header-container1 {
    overflow: hidden;
}

.section-welcome {
background-color: #3d3d46;
width: 100%;
height: 70vw;
margin-top: 1vw;
margin-bottom: 1vw;
border-radius: 2vw;
align-items: center;
align-items: center;
justify-content: center;
display: flex;

}

.welcome-text1 {grid-area: wt1; background-color: #B4B4B8; box-sizing: border-box;}
.welcome-text2 {grid-area: wt2; background-color: #C7C8CC; box-sizing: border-box;}
.welcome-text3 {grid-area: wt3; background-color: #F7DED0; box-sizing: border-box;}
.welcome-text4 {grid-area: wt4; background-color: #E3E1D9; box-sizing: border-box;}
.welcome-text5 {grid-area: wt5; background-color: #F2EFE5; box-sizing: border-box;}

.welcome-text1:hover {background-color: #a3a3a382;}
.welcome-text2:hover {background-color: #a3a3a382;}
.welcome-text3:hover {background-color: #a3a3a382;}
.welcome-text4:hover {background-color: #a3a3a382;}
.welcome-text5:hover {background-color: #a3a3a382;}

.cover-container {
    display: grid;
    background: rgb(34,40,49);
    background: linear-gradient(197deg, rgba(34,40,49,1) 0%, rgba(128,139,157,1) 27%, rgba(34,40,49,1) 89%);
    grid-template-areas:
    'wt1 wt1 wt2 wt2 wt5 wt5 wt5'
    'wt1 wt1 wt2 wt2 wt5 wt5 wt5'
    'wt1 wt1 wt2 wt2 wt5 wt5 wt5'
    'wt1 wt1 wt2 wt2 wt5 wt5 wt5'
    'wt3 wt3 wt2 wt2 wt5 wt5 wt5'
    'wt3 wt3 wt4 wt4 wt4 wt4 wt4'
    'wt3 wt3 wt4 wt4 wt4 wt4 wt4'
    'wt3 wt3 wt4 wt4 wt4 wt4 wt4';
    gap: 2%;
    background-size: cover;
    width: 80%;
    height: 50vw;
    margin: 10% auto; /* Centering the container */
    border-style: solid;
    border-color: black;
    border-width: 0;
    padding: 1%;
    border-radius: 3vw;
}
.cover-container>a {
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-radius: 3vw;
    font-size: 2vw;
    background-size: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    color: #2f3639;
}
.aboutus {
    color: #a39d9d;
    font-size: 100%;
    width: 100%; /* Menggunakan lebar 100% dari container */
    box-sizing: border-box; /* Menghitung padding dan border dalam width */
    background-color: transparent;
    margin-left: 1vw;
}
.aboutus-text {
    color: #a39d9d;
    font-size: 100%;
    margin-top: 0.1vw;
    margin-bottom: 0.1vw;
    background-color: transparent;
    margin-left: 1vw;
}
.end-section {
    background-color: #ffffff18;
    border-radius: 1vw;
    width: 100%;
    justify-content: left;
    align-items: left;
    align-content: center;
    box-sizing: border-box;
}
.ham-button {
    margin-right: 2vw;
}
.ham-button-div {
    background-color: transparent;
    margin-right: 2vw;
    cursor: pointer;
}
.ham-button-div>a {
    background-color: #222831;
    font-size: 1.5vw;
    margin-top: 0.5vw;
}
.ham-button-div>a:hover {
    background-color: #222831;
    border-radius: 0.5vw;
}
/* popup form contact */
.popup-form {
    position:fixed;
    top: -10%;
    left: 10%;
    width: 90%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 5;
    border-radius: 50px;
}

.popup-content {
    background-color: #a39d9d96;
    padding: 2vw; /* Reduced padding for smaller size */
    border-radius: 3vw; /* Smaller border radius */
    width: 25vw; /* Reduced width */
    position: relative;
    top: 2vw; /* Adjusted top position for smaller size */
    justify-content: center;
    align-items: center;
}
.article-content-h2 {
    color: #cecece;
    width: 100vw; /* Menggunakan lebar 100% dari container */
    box-sizing: border-box; /* Menghitung padding dan border dalam width */
    font-size: 2vw;
    background-color: transparent;
}
.close-button {
    float: right;
    font-size: 2vw;
    cursor:pointer;
    background-color: transparent;
}
.radio-text {
    color: #0a0a0a;
    background-color: transparent;
    font-size: 1vw;
}
/* Mengatur warna latar belakang radio button saat terpilih */
input[type="radio"] {
    accent-color: #222831;
}
.contact-button {
    background-color:var(--color11);
    
}
.contact-button:hover {
    background-color:#5151517c;
    color: var(--color11);
    
}
.search-button {
    background-color:#e6e6e67c;
    border: none;
    border-radius: 0.5vw;
    cursor: pointer;
}
.search-button:hover {
    background-color: #5151517c
}
.background-cover {
    background-color:#222831;
}
.contact-form {
    width: 95%;
    height: 3vw;
    margin-right: 5%;
    border: none;
    border-radius: 0.3vw;
    font-size: 1vw;
    background-color: #b5b5b5;
}
.contact-form-txt {
    width: 95%;
    margin-right: 5%;
    border: none;
    border-radius: 0.3vw;
    font-size: 1vw;
    background-color: #b5b5b5;
}
form>label {
    font-size: 1vw;
    background-color: transparent;
}
form>input {
    font-size: 1vw;
    background-color: transparent;
}
form>textarea {
    font-size: 1vw;
    background-color: white;
}
/* end of popup form */
@media only screen and (max-width: 600px) {
    .header-container {
        display: flex;
        flex-direction: column;
        height: fit-content;
        position: relative;
    }
    .header-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
    }
    img.logo-sgs {
        width: 80%;
        margin-top: 3vw;
    }
    h1.header-side {
        width: 100%;
        font-size: 1.5em;
    }
    div.ham-button-div>a {
        font-size: 5vw;
    }
    .cover-container {
        aspect-ratio: 1/1;
    }
    section>.cover-container {
        width: 100%;
        height: 100%;
    }
    div.bar1, div.bar2, div.bar3 {
        width: 5vw;
        height: 0.9vw;
        margin-bottom: 0.8vw;
        border-radius: 0.3vw;
    }
    .change .bar1 {transform: translate(0, 1.7vw) rotate(-45deg);}
    .change .bar2 {opacity: 0;}
    .change .bar3 {transform: translate(0, -1.7vw) rotate(45deg);}
    

    .aboutus {
        color: #a39d9d;
        font-size: 80%;
        width: 100%; /* Menggunakan lebar 100% dari container */
        box-sizing: border-box; /* Menghitung padding dan border dalam width */
        background-color: transparent;
        margin-left: 1vw;
    }
    .aboutus-text {
        color: #a39d9d;
        font-size: 100%;
        margin-top: 0.1vw;
        margin-bottom: 0.1vw;
        background-color: transparent;
        margin-left: 1vw;
    }
    footer>.aboutus {
        font-size: 1em;
    }
    footer>.aboutus-text {
        font-size: 0.7em;
    }
}

