
/*color pallate*/
:root {
    --color-dark: #222831;
    --color1: #35374B;
    --color2: #344955;
    --color3: #50727B;
    --color4: #78A083;
    --color5: #99B396;
    --color6: #B5C6A6;
    --color7: #D2D9C7;
    --color8: #EFF1E0;
    --color9: #F9F9E7;
    --color10: #FFFFFF;
}

* {
    background-color: var(--color-dark)
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10vw;
}
.nav-bar1>a {
    color: #a39d9d;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    padding: 0.5vw;
}
.nav-bar1>a:hover {
    background-color: #50727B;
    border-radius: 1vw;
}

header>.logo-sgs {
    width: 12vw;
}

.welcome-text1 {grid-area: wt1; background-color: #B9B4C7;}
.welcome-text2 {grid-area: wt2; background-color: #BB8493;}
.welcome-text3 {grid-area: wt3; background-color: #57A6A1;}
.welcome-text4 {grid-area: wt4; background-color: #7E6363;}
.welcome-text5 {grid-area: wt5; background-color: #99B396;}

.welcome-text1:hover {background-color: #35374B;}
.welcome-text2:hover {background-color: #35374B;}
.welcome-text3:hover {background-color: #35374B;}
.welcome-text4:hover {background-color: #35374B;}
.welcome-text5:hover {background-color: #35374B;}

.cover-container {
    background-color: #344955;
    display: grid;
    grid-template-areas:
    'wt1 wt1 wt2 wt2 wt5 wt5 wt5'
    'wt1 wt1 wt2 wt2 wt5 wt5 wt5'
    'wt1 wt1 wt2 wt2 wt5 wt5 wt5'
    'wt1 wt1 wt2 wt2 wt5 wt5 wt5'
    'wt3 wt3 wt2 wt2 wt5 wt5 wt5'
    'wt3 wt3 wt4 wt4 wt4 wt4 wt4'
    'wt3 wt3 wt4 wt4 wt4 wt4 wt4'
    'wt3 wt3 wt4 wt4 wt4 wt4 wt4';
    gap: 2%;
    background-size: cover;
    width: 80%;
    height: 50vw;
    margin: 10% auto; /* Centering the container */
    border-style: solid;
    border-color: black;
    border-width: 0;
    padding: 1%;
    border-radius: 3vw;
}
.cover-container>a {
    display: flex;
    padding: 1%;
    border-radius: 3vw;
    font-size: 2vw;
    background-size: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    color: #2f3639;
}